<!--
    名称：Topic管理
    路径：monitor/topic/topic_mgt.html
    开发人：李秀敏
    日期：2018/10/29
 -->
<script type="text/x-template" id="monitor-topic-topic_mgt">
    <div>
        <cust-layout ref="custLayout" :on-change-height="onChangeHeight">
        <span slot="header" >
            <ButtonGroup>
        	    <i-button size="small" @click="addTopic=true">创建Topic</i-button>
                <i-button size="small" @click="query()">搜索</i-button>
           </ButtonGroup>
        </span>
            <div slot="query">
                <i-form :model="searchForm" inline :label-width="100">
                    <form-item label="Topic:">
                        <Input v-model="searchForm.topic"placeholder="输入Topic..." style="width:200px" size="small"/>
                    </form-item>
                    <form-item label="消息状态 ：" >
                        <i-select filterable clearable v-model="searchForm.status" style="width:200px;" size="small" clearable>
                            <i-option v-for="item in statusList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="开始时间 ：">
                        <DatePicker type="date" placeholder="请选择开始时间" style="width: 200px" v-model="searchForm.startTime" size="small"></DatePicker>
                    </form-item>
                    <form-item label="结束时间 ：">
                        <DatePicker type="date" placeholder="请选择结束时间" style="width: 200px" v-model="searchForm.stopTime" size="small"></DatePicker>
                    </form-item>
                </i-form>
            </div>
            <div slot="content">
                <i-table :columns="columns" :data="page.content" size="small" border ref="table" :height="tableAptHeight">
                    <template slot="action" slot-scope="propsList">
                        <ButtonGroup>
                            <i-button size="small" @click="updateStatusById(propsList.row)">{{propsList.row.status == 0 ? '启用' : (propsList.row.status == 2 ? '启用' : '禁用') }}</i-button>
                            <i-button size="small" @click="addCustomer(propsList.row)">创建消费者</i-button>
                            <i-button size="small" @click="checkById(propsList.row)">查看</i-button>
                        </ButtonGroup>
                    </template>
                </i-table>
                <Page :total="page.totalElements" :page-size="page.size"   @on-change="changePage" @on-page-size-change="changePageSize" transfer prev-text="上一页" next-text="下一页" show-sizer size="small"/>
            </div>
        </cust-layout>
        <common-submit-modal v-model="addTopic" title="创建Topic" width="600" :submit="submitTopic" :cancel="editCancel">
            <i-form v-if="addTopic" :label-width="120" :model="addTopicForm" slot="content" ref="topicForm" :rules="ruleValidate">
                <span style="color: red;margin-left: 120px">主题唯一，一旦创建不能修改</span>
                <Form-item label="Topic：" prop="topic">
                    <Input v-model="addTopicForm.topic" placeholder="请输入Topic"></Input>
                </Form-item>
                <Form-item label="描述：">
                    <Input v-model="addTopicForm.desc" placeholder="请输入"></Input>
                </Form-item>
            </i-form>
        </common-submit-modal>
        <common-submit-modal v-model="addCustomerModal" title="创建消费者" width="600" :submit="submitCustomer" :cancel="editCancel">
            <i-form v-if="addCustomerModal" :label-width="120" :model="addCustomerForm" slot="content" ref="customerForm" :rules="ruleValidate">
                <Form-item label="Topic：">
                    <Input v-model="addCustomerForm.topic"></Input>
                </Form-item>
                <Form-item label="Consumer ID：" prop="consumerId">
                    <Input v-model="addCustomerForm.consumerId" placeholder="请输入Consumer ID"></Input>
                    <span>以"CID_"或者"CID-"开头，只能包含字母，数字，短横线(-)和下划线(_)长度限制在7-64字节之间</span>
                </Form-item>
            </i-form>
        </common-submit-modal>
    </div>
</script>

<script type="text/javascript" src="pages/monitor/topic/topic_mgt.js"></script>