<!--
    名称：消息查询
    路径：monitor/groupId/groupId_mgt.html
    开发人：聂涛
    日期：2018/10/29
 -->
<script type="text/x-template" id="monitor-groupId-groupId_mgt">
    <div>
        <cust-layout ref="custLayout" :hide-header="true" :on-change-height="onChangeHeight" >
    <span slot="header">
    </span>
            <div slot="query">
                <i-Form :label-width="20"  size="small" :model="searchForm" @keyup.enter.native="query" inline >
                    <form-item label="" >
                        <i-button size="small"  @click="addButton" >创建组</i-button>
                    </form-item>
                    <form-item label="" >
                        <i-input v-model="queryData.groupName" search enter-button @on-search="query"  placeholder="服务组ID" size="small" style="width: 200px" />
                    </form-item>


                </i-Form>
            </div>
            <div slot="content" >
                <i-table :columns="columns" stripe size="small" :height="tableAptHeight" border  :data="page.content">
                </i-table>
                <Page :total="page.totalElements" @on-change="onChange_page" @on-page-size-change="onPageChange_pageSize" size="small" :page-size="page.size"  prev-text="上一页" next-text="下一页" transfer  show-sizer  />
            </div>
        </cust-layout>

        <!-- 点击新建按钮 -->
        <common-submit-modal v-model="addModel" title="创建组" :submit="addSave" >
            <i-form v-if="addModel" :model="addForm" :label-width="90" slot="content" ref="addForm" :rules="ruleValidate">
                <Form-item label="组名称：" prop="groupName" >
                    <i-input v-model="addForm.groupName"/>
                </Form-item>
                <Form-item label="描述：" >
                    <i-input v-model="addForm.desc"/>
                </Form-item>
            </i-form>
        </common-submit-modal>

        <!-- 点击修改按钮 -->
        <common-submit-modal v-model="updateModel" title="修改组" :submit="updateSave" >
            <i-form v-if="updateModel" :model="updateForm" :label-width="90" slot="content" ref="updateForm" :rules="ruleValidate">
                <Form-item label="组名称：" prop="groupName" >
                    <i-input v-model="updateForm.groupName"/>
                </Form-item>
                <Form-item label="描述：">
                    <i-input v-model="updateForm.desc"/>
                </Form-item>
            </i-form>
        </common-submit-modal>
        <!--点击删除按钮触发-->
        <common-delete-modal v-model="deleteModal" title="是否要删除" :on-ok="confirmDelete" ></common-delete-modal>

    </div>
</script>

<script type="text/javascript" src="pages/monitor/groupId/groupId_mgt.js"></script>